body {
    background-color:black;
    color:antiquewhite;
    padding-left:5rem;
    padding-right: 5rem;;
}
section {
    border: 3px solid rgb(9, 20, 128);
    padding: 3rem;
    border-radius: 1;
}